{% extends 'base.html'%}

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to the news field</title>
    {% endif %}
</head>
<!-- <body> -->
    {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}

{% block content %}

    <div>    <h3 id="business"> Business news</h3>
        <ul>
            {% for business in business_sources %}
            <!-- <li>{{ business.name}}</li> -->
            <li><a a href="/source/{{business.id}}">{{ business.name}}</a></li>
            {% endfor %}  
        </ul>
    </div>

        <!-- general -->
    <div id="general">    
    <h3> General news</h3>
        <ul>
            {% for general in general_sources %}
            <li><a a href="/source/{{general.id}}">{{ general.name}}</a></li>

            {% endfor %}
        </ul>
    </div>
        <!-- sports -->
        <!-- <h3> sports news</h3>
        <ul>
            {% for sports in sports_sources %}
            <li>{{ sports.name}}</li>
            {% endfor %}
        </ul> -->
        <!-- Upcoming movie  -->
        <div>
        <h3 id="entertainment"> entertainment news</h3>
        <ul>
            {% for entertainment in entertainment_sources %}
            <li><a a href="/source/{{entertainment.id}}">{{ entertainment.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
        <!-- technology -->
        <div>
        <h3 id="technology"> technology news</h3>
        <ul>
            {% for technology in technology_sources %}
            <li><a a href="/source/{{technology.id}}">{{ technology.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock%}

<!-- 
</body>
</html> -->